/*font sizes
header1 32
header2 24
everything else 16
*/

/*
Smoky Black         #0C120C
Crimson Red         #C20114
Nickel              #6D7275
Light Gray          #C7D6D5
Anti-Flash White    #ECEBF3
*/

/*
font-family: 'Poiret One', cursive;
font-family: 'Raleway', sans-serif;
*/
/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Raleway');

/* Global */

/* Side_menu */
.side_menu {
    height: 100%;
    width: 15%;
    position: fixed;    /*fixes menu in place */
    z-index: 1;         /*forces to stay on top */
    top: 0;             /*stay at the top*/
    left: 0;
    background-color: #0C120C;
    overflow-x: hidden; /*disable horizontal scroll */
    padding-top: 20px;
}

.side_menu a{
    padding: 0px 0px 0px 16px;
    text-decoration: none;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    color: #C20114;
    display: block;
}

.side_menu p{
    padding-left: 16px;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    color: #C20114;
    display: block;
}

.side_menu a:visited {
    color: #C20114;
}

.side_menu a:hover {
    color: #6D7275;
}

/* Body */
body{
    background-color: #6D7275;
    font-family:'Raleway', sans-serif;
}

/* Main */
main{
    margin-left: 15%;
}

/* Header_1 */
.header_1 { 
    color: #C20114;
    font-size: 32px;
    font-family: 'Poiret One', cursive;
    align: center;
}

#header_line {
    width: 50%;
    border: 1px solid #0C120C;
}

/* content */

.container_background {
    margin: 5%;
    padding: 3%;
    background-color: #C20114;
    border-radius: 25px;
}

.container_content {
    margin: 1%;
    padding: 5%;
    background-color: #ECEBF3;
    border-radius: 25px;
    text-shadow: 0px 1px #363946;  
}

.header_2 {
    text-align: center;
    font-size: 24px; 
    padding-bottom: 5%;
}

.content {
    font-size: 16px; 
    text-shadow: 0px 1px #363946;
}

/* Footer */
.footer {
    font-family: 'Poiret One', cursive;
    color: #C20114;
    margin-left: 15%;
    font-size: 16px;
}

#footer_line {
    border: 1px solid #0C120C;
}

