/*
light: E8E9FE
light gray: CECECE
gray: A6A6A8
Dark blue: 272635
light blue: B1E5F2
*/

/* Global */
body{
    background-color: #A6A6A8;
}

a:link{
    color: #E8E9FE;  
    text-decoration: none;
}

a:visited{
    color: #CECECE; 
    text-decoration: none;
}

a:hover{
    color: #B1E5F2;
    text-decoration: underline;
}

/* Header */
h1 { 
    color: #B1E5F2;
}

/* Main Menu */
ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.main-menu>li {
    display: inline;
}
