/*
light: E8E9FE
light gray: CECECE
gray: A6A6A8
Dark blue: 272635
light blue: B1E5F2
*/

/*
font-family: 'Poiret One', cursive;
font-family: 'Rokkitt', serif;
*/
/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Rokkitt');

/* Side_menu */
.side_menu {
    height: 100%;
    width: 15%;
    position: fixed;    /*fixes menu in place */
    z-index: 1;         /*forces to stay on top */
    top: 0;             /*stay at the top*/
    left: 0;
    background-color: #272635;
    overflow-x: hidden; /*disable horizontal scroll */
    padding-top: 20px;
}

.side_menu a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-family: 'Poiret One', cursive;
    font-size: 25px;
    color: #E8E9FE;
    display: block;
}

.side_menu a:hover {
    color: #CECECE;
}

.side_menu a:visited {
    color: #E8E9FE;
}

/* Body */
body{
    background-color: #A6A6A8;
    font-family: 'Rokkitt', serif;
}

/* Main */
main{
    margin-left: 200px;
}

/* Header_1 */
.header_1 { 
    color: #B1E5F2;
    font-size: 32px;
    font-family: 'Poiret One', cursive;
    align: center;
}

.container_background {
    background-color: #B1E5F2
}

.container_content {
    background-color: #A6A6A8
}

/* Footer */
.footer {
    font-size: 16px;
}

hr {
    border: 1px solid #B1E5F2;
}

